<!-- <div *ngIf="images">
  <ul class="list-group" *ngFor="let i of images">
    <li class="list-group-item">Image: <img src={{i}} class="d-block w-100 img-fluid" alt="First slide" id="art-img"></li>>
    <div *ngIf="clientMessage.message.length" class="alert alert-danger" role="alert">

      {{clientMessage.message}}

    </div>

  </ul> -->




  <ul *ngIf="images.length > 0">
    <li *ngFor="let image of images">
      <div *ngIf="clientMessage.message.length" class="alert alert-danger" role="alert">

        {{clientMessage.message}}

      </div>
      <img [src]="image.imgSrc" [alt]="image.title">
      <div class="col-md-12 bg-light text-right">

        <button type="button" class="btn btn-warning">Remove</button>
        </div>

    </li>
  </ul>
  <h1 *ngIf="images.length === 0">Add artworks to see them here</h1>




