<div class="container">

  <div class="card border-0 my-auto w-100">

    <div class="shadow-lg">

      <div class="home-container text-center">

        <div class="card-header text-center">User Portal</div>

        <app-login></app-login>
        <br />
        <app-register></app-register>
      </div>
    </div>
  </div>
<!-- <div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/friends"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Friends
      </a>
    </div>
    <div class="col-sm">
      Button 2
    </div>
    <div class="col-sm">
      Button 3
    </div>
    <div class="col-sm">
      Button 4
    </div>
  </div>
</div> -->


