

    <div class="card text-center">
        <div class="card-body">

          <button type="submit"  class="btn btn-primary"id="btn"
          (click)="onClick()"
          (mousedown)="onMousedown()"
          (mouseup)="onMouseup()"
          [class.clicked]="clicked">

            Get Art!
          </button>

        </div>
      </div>
      <div *ngIf="clientMessage.message.length" class="alert alert-danger" role="alert">

        {{clientMessage.message}}

      </div>

      <img src={{image.imgSrc}} class="d-block w-100 img-fluid" alt="First slide" id="art-img">


